<div class="banner">
  <div id="banner-info" class="container">
    <h1>Welcome to Retreats in Alentejo</h1>
    <p>Here you can find our retreats and workshops in Melides.<strong> Explore.</strong></p>
    <a class="btn btn-transparent" href="#">Search for our next retreats</a>
  </div>
</div>

<!-- Main Content -->
<div class="main-container">
  <div class="description">
    <div class="info">
      <h2>Take your time and enjoy Alentejo.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere eget ante a cursus. Nunc sit amet sodales odio, eget congue mi. Mauris a neque sit amet leo tincidunt eleifend a sit amet urna.</p>
      <p>Suspendisse sit amet purus consectetur, efficitur ligula ut, elementum massa. Curabitur condimentum risus eget elit ultricies porttitor.</p>
    </div>
    <div class="cards">
      <div class="card">
        <i class="fas fa-praying-hands"></i>
        <div class="details">
          <h3>Mindfulness</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="card">
        <i class="fas fa-seedling"></i>
        <div class="details">
          <h3>Wholefood</h3>
          <p>In ipsum metus, ullamcorper eget dui a, ullamcorper facilisis arcu.</p>
        </div>
      </div>
      <div class="card">
        <i class="fas fa-hiking"></i>
        <div class="details">
          <h3>Outdoor activities</h3>
          <p>Phasellus sed massa eget nisi lacinia aliquam. Sed eget imperdiet massa.</p>
        </div>
      </div>
    </div>
  </div>

<!-- List Retreats -->


<!-- Footer -->
<div class="footer">
  <h4>Follow us on Social Media 👇</h4>
  <ul class="social-media-list">
    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
  </ul>
  <p>This website was coded at Le Wagon Lisbon Batch#293 🕊 </p>
</div>


<% if current_user %>

<%= link_to 'Sign-out', destroy_user_session_path, method: :delete %>

<% else %>

<%= link_to 'Sign-up', new_user_registration_path %>

<%= link_to 'Sign-in', user_session_path %>

<% end %>

<%= link_to 'Admin', thread_admins_path %>

