<div class="banner">
  <div id="banner-info" class="container">
    <h1>Welcome to Retreats in Alentejo</h1>
    <p>Here you can find our retreats and workshops in Melides.<strong> Explore.</strong></p>
    <a class="btn btn-transparent" href="#">Search for our next retreats</a>
  </div>
</div>

<% if current_user %>

<%= link_to 'Sign-out', destroy_user_session_path, method: :delete %>

<% else %>

<%= link_to 'Sign-up', new_user_registration_path %>

<%= link_to 'Sign-in', user_session_path %>

<% end %>

<%= link_to 'Admin', thread_admins_path %>

