.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .dropdown-item {
    color: $savage-green;
    &:hover {
      opacity: 0.5;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {
    color: $savage-green;
    font-weight: 900;
  }
}

